<!-- ======================== Cards========================== -->

<div class="cardBox">
  <div class="cards">
    <div>
      <div class="numbers">240</div>
      <div class="cardName">Members</div>
    </div>

    <div class="iconBx"><ion-icon name="people-circle-outline"></ion-icon></div>
  </div>

  <div class="cards">
    <div>
      <div class="numbers">150</div>
      <div class="cardName">Transactions</div>
    </div>

    <div class="iconBx"><ion-icon name="cash-outline"></ion-icon></div>
  </div>

  <div class="cards">
    <div>
      <div class="numbers">434</div>
      <div class="cardName">Deposits</div>
    </div>

    <div class="iconBx"><ion-icon name="wallet-outline"></ion-icon></div>
  </div>

  <div class="cards">
    <div>
      <div class="numbers">2</div>
      <div class="cardName">Notifications</div>
    </div>

    <div class="iconBx"><ion-icon name="notifications-outline"></ion-icon></div>
  </div>
</div>
