{% extends "dashboard/dashboard_base.html" %}

{% block title %}
JRM SACCO
{% endblock %}

{% block body %}
    <h1>JRM Sacco</h1>
    <h1>Members</h1>
    <table class="table table-hover table-dark">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
          </tr>
        </thead>
        <tbody>
            {% for member in members.values() %}
            <tr>
                <!-- <th scope="row">1</th> -->
                <td>{{ member.id }}</td>
                <td>{{ member.first_name }} {{ member.last_name }}</td>
                <td>{{ member.email }}</td>
                <td>{{ member.email }}</td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
    <!-- <ul>
        {% for member in members.values() %}
            <li>{{ member.id }}: <b>{{ member.first_name }} {{ member.last_name }}:
                {{ member.national_id }}: {{ member.dob }} {{ member.email }}</b></li>
        {% endfor %}
    </ul> -->
{% endblock %}
