<!-- =================== Navigation ======================= -->
<body>
  <div class="container">
    <div class="navigation">
      <ul>
        <li>
          <a href="http://127.0.0.1:5000/dashboard/members">
            <span class="icon"><ion-icon name="logo-amplify"></ion-icon></span>
            <span class="title">Lyonec Sacco</span>
          </a>
        </li>
        <li>
          <a href="/dashboard">
            <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
            <span class="title">Dashbaord</span>
          </a>
        </li>
        <li>
          <a href="/dashboard/members">
            <span class="icon"
              ><ion-icon name="people-outline"></ion-icon
            ></span>
            <span class="title">Members</span>
          </a>
        </li>
        <li>
          <a href="/dashboard/accounts">
            <span class="icon"><ion-icon name="cash-outline"></ion-icon></span>
            <span class="title">Accounts</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="icon"><ion-icon name="card-outline"></ion-icon></span>
            <span class="title">Loans</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="icon"
              ><ion-icon name="wallet-outline"></ion-icon
            ></span>
            <span class="title">Transactions</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="icon"
              ><ion-icon name="help-circle-outline"></ion-icon
            ></span>
            <span class="title">Help</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="icon"
              ><ion-icon name="settings-outline"></ion-icon
            ></span>
            <span class="title">Settings</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="icon"
              ><ion-icon name="log-out-outline"></ion-icon
            ></span>
            <span class="title">Sign Out</span>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <!-- ==================== ionicons ================= -->
  <script
    type="module"
    src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
  ></script>
  <script
    nomodule
    src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
  ></script>
</body>
